<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/header.html}"
>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
  <div layout:fragment="content">
  <main id="main">
    <!-- ======= Culture Category Section ======= -->
    <section class="category-section">
      <div class="container">
        <div class="row">
          <div class="col-md-1 text-center d-flex flex-column gap-1">
            <button class="btn btn-primary m-0" onclick="changeDateToWeek('prev')"><i class="bi bi-caret-up"></i></button>
            <div id="dateList" class="m-0 h-auto">
            </div>
            <button class="btn btn-primary m-0" onclick="changeDateToWeek('next')"><i class="bi bi-caret-down"></i></button>
          </div>
          <div class="col-md-11">
            <div class="row" style="height: 90%">
              <div class="col-lg-8">
                <div class="position-relative d-flex justify-content-between mb-1">
                  <h3 id="date1Label" class="text-primary fw-bold text-decoration-underline cursor-pointer" th:text="${pageResponseDTO.date}">2024-05-16</h3>
                  <input id="date" name="date" type="text" class="hide cursor-pointer" th:value="${pageResponseDTO.date}" onchange="changeDate(this)">
                  <button class="btn btn-primary m-0" onclick="changeDateToWeek('today')">오늘</button>
                </div>
                <section id="hero-slider" class="hero-slider p-0">
                  <div class="container-md" >
                    <div class="row rounded overflow-hidden ">
                      <th:block th:if="${!pageResponseDTO.dtoList.isEmpty()}">
                        <div class="swiper sliderFeaturedPosts">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide" th:each="dtoList : ${pageResponseDTO.dtoList}">
                              <div class="post-entry-1">
                                <a th:href="'/mystudy/view?idx='+${dtoList.idx}"><img th:src="${dtoList.thumbnailPath}+${dtoList.thumbnail}" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="badge text-bg-primary me-1" th:each="category : ${dtoList.categories}" th:text="${category}">Culture</span> <span class="mx-1">&bullet;</span> <span th:text="${dtoList.regDateToString}">Jul 5th '22</span></div>
                                <h2 class="mb-2"><a th:href="'/mystudy/view?idx='+${dtoList.idx}" th:text="${dtoList.title}">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
                                <div class="post-meta"><span class="me-1" th:each="tag : ${dtoList.tagsArr}" th:text="'#'+${tag}">Culture</span> </div>
                                <p class="mb-4 review" th:text="${dtoList.content}"></p>
                              </div>
                            </div>
                          </div>
                          <div class="custom-swiper-button-next">
                            <span class="bi-chevron-right"></span>
                          </div>
                          <div class="custom-swiper-button-prev">
                            <span class="bi-chevron-left"></span>
                          </div>

                          <div class="swiper-pagination"></div>
                        </div>
                      </th:block>
                      <th:block th:unless="${!pageResponseDTO.dtoList.isEmpty()}">
                        <div class="card card-body mt-1 text-center p-5 d-flex justify-content-center align-items-center">
                          <p class="m-0">아직 등록한 학습내용이 없습니다.</p>
                          <button type="button" class="btn btn-primary w-25 text-center mt-3" onclick="location.href = '/mystudy/regist'">학습 등록하러 가기</button>
                        </div>
                      </th:block>
                      </div>
                  </div>
                </section><!-- End Hero Slider Section -->
              </div>
              <div class="col-lg-4 border-start h-100">
                <div class="d-flex flex-column">
                <div class="post-entry-1 mb-2 rounded border border-primary p-3" th:each="dtoList : ${sharedPageDTO.dtoList}">
                  <div class="post-meta"><span class="badge text-bg-primary me-1" th:each="category : ${dtoList.categories}" th:text="${category}">Culture</span> <span class="mx-1">&bullet;</span> <span th:text="${dtoList.regDateToString}">Jul 5th '22</span></div>
                  <h2 class="mb-2"><a th:href="'/shared/view?idx='+${dtoList.idx}" th:text="${dtoList.title}">11 Work From Home Part-Time Jobs You Can Do Now</a></h2>
                  <span class="author mb-3 d-block" th:text="${dtoList.memberName}">Jenny Wilson</span>
                  <p class="mb-4 d-block" th:text="${dtoList.content}">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                  <span class="author mb-3 d-block"><i class="bi bi-heart-fill"></i>&nbsp;<span th:text="${dtoList.likes}"></span></span>
                </div>
                <button class="btn btn-light border-primary" onclick="location.href = '/shared/list'">더 보러 가기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Culture Category Section -->
  </main><!-- End #main -->
  </div>
  <!-- ======= Footer ======= -->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
<script layout:fragment="script" th:inline="javascript">
  $( function() {
    $( "#date" ).datepicker();
    $( "#date" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
  } );
  /*
  * <div class="post-entry-1 text-center">
              <button type="button" class="btn btn-primary text-center">월요일</button>
            </div>
  *
  * */
  window.onload = ()=>{
    let date = [[${pageResponseDTO.date}]];
    getDates(date);
  };

  function getDates(targetDate) {
    let targetDateObj = new Date(targetDate);
    let days = ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'];
    let parentEl = document.getElementById('dateList');
    for(let i = 4; i >= 0; i--) {
      let dd = new Date(targetDate);
      dd.setDate(targetDateObj.getDate() -i);
      let ddDate = dd.getFullYear() + '-' + ((dd.getMonth()+1) < 10 ? '0' + (dd.getMonth()+1) : (dd.getMonth()+1)) + '-' + (dd.getDate() < 10 ? '0' + dd.getDate() : dd.getDate());
      let divEl = document.createElement('div');
      let buttonEl = document.createElement('button');
      divEl.classList.add('mb-3', 'text-center');
      buttonEl.type = 'button';
      buttonEl.classList.add('btn', 'text-center');
      if(i==0) {
        buttonEl.classList.add('btn-primary');
      } else {
        buttonEl.classList.add('btn-light');
      }
      buttonEl.dataset.date = ddDate;
      buttonEl.innerText = `${days[dd.getDay()]}
      ${dd.getMonth()+1}/${dd.getDate()}`;
      buttonEl.addEventListener('click', ()=>{
        changeDateToClick(buttonEl)
      })
      divEl.append(buttonEl);
      parentEl.append(divEl);
    }
    for(let i = 1; i < 3; i++) {
      let dd = new Date(targetDate);
      dd.setDate(targetDateObj.getDate() +i);
      let ddDate = dd.getFullYear() + '-' + ((dd.getMonth()+1) < 10 ? '0' + (dd.getMonth()+1) : (dd.getMonth()+1)) + '-' + (dd.getDate() < 10 ? '0' + dd.getDate() : dd.getDate());
      let divEl = document.createElement('div');
      let buttonEl = document.createElement('button');
      divEl.classList.add('mb-3', 'text-center');
      buttonEl.type = 'button';
      buttonEl.classList.add('btn', 'text-center');
      if(i==0) {
        buttonEl.classList.add('btn-primary');
      } else {
        buttonEl.classList.add('btn-light');
      }
      buttonEl.dataset.date = ddDate;
      buttonEl.innerText = `${days[dd.getDay()]}
      ${dd.getMonth()+1}/${dd.getDate()}`;
      buttonEl.addEventListener('click', ()=>{
        changeDateToClick(buttonEl)
      })
      divEl.append(buttonEl);
      parentEl.append(divEl);
    }
  }

  function changeDate(element) {
    let targetDate = element.value;
    $('#date1Label').text(targetDate);
    location.href = "/main/main?date=" + targetDate;
  }

  function changeDateToClick(element) {
    let targetDate = element.dataset.date;
    location.href = "/main/main?date=" + targetDate;
  }
  function changeDateToWeek(destination) {
    let date = [[${pageResponseDTO.date}]];
    let targetDateObj = new Date(date);
    let dd = new Date(date);
    if (destination == 'next') {
      dd.setDate(targetDateObj.getDate() +7);
    } else if (destination == 'prev') {
      dd.setDate(targetDateObj.getDate() -7);
    } else {
      let today = new Date();
      dd = today;
    }
    let ddDate = dd.getFullYear() + '-' + ((dd.getMonth()+1) < 10 ? '0' + (dd.getMonth()+1) : (dd.getMonth()+1)) + '-' + (dd.getDate() < 10 ? '0' + dd.getDate() : dd.getDate());
    location.href = "/main/main?date=" + ddDate;
  }
</script>
</html>