<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/header.html}"
>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
  <div layout:fragment="content">
  <main id="main">
    <!-- ======= Culture Category Section ======= -->
    <section class="category-section">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-1">
            <div class="post-entry-1 text-center">
              <button type="button" class="btn btn-primary text-center">월요일</button>
            </div>
            <div class="post-entry-1 text-center">
              <button type="button" class="btn btn-light">화요일</button>
            </div>
            <div class="post-entry-1 text-center">
              <button type="button" class="btn btn-light">수요일</button>
            </div>
            <div class="post-entry-1 text-center">
              <button type="button" class="btn btn-light">목요일</button>
            </div>
            <div class="post-entry-1 text-center">
              <button type="button" class="btn btn-light">금요일</button>
            </div>
            <div class="post-entry-1 text-center">
              <button type="button" class="btn btn-light">토요일</button>
            </div>
            <div class="post-entry-1 text-center">
              <button type="button" class="btn btn-light">일요일</button>
            </div>
          </div>
          <div class="col-md-11">
            <div class="row">
              <div class="col-lg-8">
                <section id="hero-slider" class="hero-slider p-0">
                  <div class="container-md" data-aos="fade-in">
                    <div class="row rounded overflow-hidden ">
                        <div class="swiper sliderFeaturedPosts">
                          <div class="swiper-wrapper">
                            <div class="swiper-slide">
                              <div class="post-entry-1">
                                <a href="/views/single-post.html"><img src="/img/post-landscape-2.jpg" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                <h2 class="mb-2"><a href="/views/single-post.html">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
                                <span class="author mb-3 d-block">Jenny Wilson</span>
                                <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="post-entry-1">
                                <a href="/views/single-post.html"><img src="/img/post-landscape-2.jpg" alt="" class="img-fluid"></a>
                                <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                <h2 class="mb-2"><a href="/views/single-post.html">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
                                <span class="author mb-3 d-block">Jenny Wilson</span>
                                <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                              </div>
                            </div>
                          </div>
                          <div class="custom-swiper-button-next">
                            <span class="bi-chevron-right"></span>
                          </div>
                          <div class="custom-swiper-button-prev">
                            <span class="bi-chevron-left"></span>
                          </div>

                          <div class="swiper-pagination"></div>
                        </div>
                      </div>
                  </div>
                </section><!-- End Hero Slider Section -->
              </div>
              <div class="col-lg-4">
                <div class="post-entry-1 rounded border border-primary p-3">
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="#">11 Work From Home Part-Time Jobs You Can Do Now</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
                  <span class="author mb-3 d-block"><i class="bi bi-heart-fill"></i> 100</span>
                </div>
                <div class="post-entry-1 rounded border border-primary p-3">
                  <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2 class="mb-2"><a href="#">5 Great Startup Tips for Female Founders</a></h2>
                  <span class="author mb-3 d-block">Jenny Wilson</span>
                  <span class="author mb-3 d-block"><i class="bi bi-heart-fill"></i> 100</span>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section><!-- End Culture Category Section -->
  </main><!-- End #main -->
  </div>
  <!-- ======= Footer ======= -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



</body>

</html>