<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/header.html}"
>
<head>
    <meta charset="UTF-8">
    <title>FindPwd</title>
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <section id="contact" class="contact mb-5">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-12 text-center mb-5">
                        <h3>패스워드를 잊으셨나요?</h3>
                        <small>임시비밀번호를 발급받기 위해 아래 정보를 입력해주세요</small>
                    </div>
                </div>
                <div class="form mt-1">
                    <form id="frmFind" action="/login/findPwd" method="post" role="form" class="php-email-form">
                        <label class="p-2" for="memberId">ID</label>
                        <div class="form-group">
                            <input data-name="아이디" type="text" class="form-control" name="memberId" id="memberId" placeholder="ID">
                            <small id="err_memberId" class="p-1 text-danger info"></small>
                        </div>
                        <div class="rounded bg-light p-3 mb-2 rounded-2">
                            <p class="p-1 m-0">※ 아이디 입력 후 임시비밀번호 발송 버튼을 눌러주세요.</p>
                            <p class="p-1 m-0">※ 가입하신 이메일 주소로 임시비밀번호가 발송됩니다.
                                메일 서비스에 따라 다소 시간이 걸릴 수 있습니다.</p>
                        </div>
                        <div class="text-center"><button type="submit">submit</button></div>
                    </form>
                </div><!-- End Contact Form -->
            </div>
        </section>

    </main><!-- End #main -->
</div>
<script layout:fragment="script">
    let checkTarget = ['memberId'];
    document.querySelector('#frmFind').addEventListener('submit', checkForm);
    function checkForm() {
        event.preventDefault();
        for (let info of document.querySelectorAll('.info')) {
            $(info).text("");
        }
        // 공란 검사
        for (let element of checkTarget) {
            let target = $('input[name=' + element + ']');
            if (!nullCheck($(target))) {
                $('#err_' + element).text($(target).data('name') + "을/를 입력해주세요");
                $(target).focus();
                return false;
            }
        }
        document.querySelector('#frmFind').submit();
    }
</script>
</body>
</html>