<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/header.html}"
>
<head>
    <meta charset="UTF-8">
    <title>FindPwd</title>
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <section id="contact" class="contact mb-5">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-12 text-center mb-5">
                        <h3>패스워드 변경</h3>
                        <small>개인정보 보호를 위해 반드시 패스워드를 변경해주세요.</small>
                    </div>
                </div>
                <div class="form mt-1">
                    <form id="frmFind" action="/login/findPwd" method="post" role="form" class="php-email-form">
                        <input type="hidden" name="step" value="2">
                        <input type="hidden" name="memberId" th:value="${memberId} != null ? ${memberId}" >
                        <label class="p-2" for="org_pwd">기존 비밀번호</label>
                        <div class="form-group">
                            <div class="position-relative">
                            <input data-name="기존 비밀번호" type="password" class="form-control" name="org_pwd" id="org_pwd" placeholder="기존 비밀번호" >
                            <i data-target="org_pwd" class="bi bi-eye-fill position-absolute showPwd" style="top : 30%; right: 10px;cursor: pointer" onclick="showOrHidePwd(this)"></i>
                            </div>
                            <small id="err_org_pwd" class="p-1 text-danger info"></small>
                        </div>
                        <label class="p-2" for="new_pwd">새 비밀번호</label>
                        <div class="form-group">
                            <div class="position-relative">
                            <input data-name="새 비밀번호" type="password" class="form-control" name="new_pwd" id="new_pwd" placeholder="새 비밀번호">
                            <i data-target="new_pwd" class="bi bi-eye-fill position-absolute showPwd" style="top : 30%; right: 10px;cursor: pointer" onclick="showOrHidePwd(this)"></i>
                            </div>
                            <small id="err_new_pwd" class="p-1 text-danger info"></small>
                        </div>
                        <label class="p-2" for="new_pwdCheck">새 비밀번호 확인</label>
                        <div class="form-group">
                            <div class="position-relative">
                            <input data-name="새 비밀번호 확인" type="password" class="form-control" name="new_pwdCheck" id="new_pwdCheck" placeholder="새 비밀번호 확인">
                            <i data-target="new_pwdCheck" class="bi bi-eye-fill position-absolute showPwd" style="top : 30%; right: 10px;cursor: pointer" onclick="showOrHidePwd(this)"></i>
                            </div>
                            <small id="err_new_pwdCheck" class="p-1 text-danger info"></small>
                        </div>
                        <div class="rounded bg-light p-3 mb-2 rounded-2">
                            <p class="p-1 m-0">※ 비밀번호는 영문 소/대문자 + 숫자 + 특수문자를 조합하여 8글자 이상, 20글자 이하로 입력해주세요. 가능한 특수문자 : !@#$%^*+=-")</p>
                            <p class="p-1 m-0">※ 생년월일, 주민등록번호, 연속된 숫자 등의 패스워드 사용은 삼가해주세요.</p>
                        </div>
                        <div class="text-center"><button type="submit">submit</button></div>
                    </form>
                </div><!-- End Contact Form -->
            </div>
        </section>

    </main><!-- End #main -->
</div>
<script layout:fragment="script">
    // 비밀번호 확인
    function showOrHidePwd(element) {
        element.classList.toggle('bi-eye-fill');
        element.classList.toggle('bi-eye-slash-fill');
        let target = element.dataset.target;
        if($('#'+target).attr('type') == 'password') {
            $('#'+target).prop("type", "text");
        } else {
            $('#'+target).prop("type", "password");
        }
    }
    // Front 유효성 검사
    let checkTarget = ['org_pwd', 'new_pwd', 'new_pwdCheck'];
    document.querySelector('#frmFind').addEventListener('submit', checkForm);
    function checkForm() {
        event.preventDefault();
        for (let info of document.querySelectorAll('.info')) {
            $(info).text("");
        }
        // 공란 검사
        for (let element of checkTarget) {
            let target = $('input[name=' + element + ']');
            if (!nullCheck($(target))) {
                $('#err_' + element).text($(target).data('name') + "을/를 입력해주세요");
                $(target).focus();
                return false;
            }
        }
        // 정규식 검사
        if(!passwordRegCheck($('input[name=new_pwd]'))){
            $('#err_new_pwd').text("비밀번호는 영문 소/대문자 + 숫자 + 특수문자를 조합하여 8글자 이상, 20글자 이하로 입력해주세요. 가능한 특수문자 : !@#$%^*+=-");
            $('input[name=new_pwd]').focus();
            return false;
        }
        // 중복 체크 및 일치 여부 검사
        if(!passwordMatch($('input[name=new_pwd]'), $('input[name=new_pwdCheck]'))){
            $('#err_new_pwdCheck').text("비밀번호가 일치하지 않습니다.");
            $('input[name=new_pwdCheck]').focus();
            return false;
        }
        if(confirm("해당 내용으로 변경하시겠습니까?")) {
            document.querySelector('#frmFind').submit();
        }
    }
</script>
</body>
</html>