<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/header.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <section id="contact" class="contact mb-5">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-12 text-center mb-5">
                        <h3>Join Us</h3>
                        <small>저희와 함께 해주실건가요?💖</small>
                    </div>
                </div>
                <div class="form mt-1">
                    <form action="/login/join" method="post" role="form" class="php-email-form" id="frmJoin">
                        <label class="p-2" for="memberId">ID</label>
                        <div class="mb-3">
                            <div class="input-group" >
                                <input type="text" class="form-control" name="memberId" data-name="아이디" id="memberId"  placeholder="ID" aria-label="ID" aria-describedby="idCheck" onkeyup="resetAuth(this)">
                                <button class="btn btn-outline-secondary" type="button" id="idCheck" onclick="checkId()">중복확인</button>
                                <input type="hidden" id="authId" name="authId" class="auth" value="false">
                            </div>
                            <small id="err_memberId" class="p-1 text-danger info"></small>
                        </div>
                        <label class="p-2" for="memberName">NAME</label>
                        <div class="form-group">
                            <input type="text" class="form-control" data-name="이름" name="memberName" id="memberName" placeholder="NAME" onkeyup="replaceName(this)">
                            <small id="err_memberName" class="p-1 text-danger info"></small>
                        </div>
                        <label class="p-2" for="pwd">PASSWORD</label>
                        <div class="form-group">
                            <div class="position-relative">
                                <input type="password" class="form-control" data-name="비밀번호" name="pwd" id="pwd" placeholder="PASSWORD" >
                                <i data-target="pwd" class="bi bi-eye-fill position-absolute showPwd" style="top : 30%; right: 10px;cursor: pointer" onclick="showOrHidePwd(this)"></i>
                            </div>
                            <div class="p-1">
                                <small>※ 10자 이상의 영문 소문자, 숫자, 특수문자 모두 조합하여 설정하여 주십시오</small>
                            </div>
                            <small id="err_pwd" class="p-1 text-danger info"></small>
                        </div>
                        <label class="p-2" for="pwdCheck">PASSWORD CHECK</label>
                        <div class="form-group">
                            <div class="position-relative">
                                <input type="password" class="form-control" data-name="비밀번호 확인" name="pwdCheck" id="pwdCheck" placeholder="PASSWORD CHECK" >
                                <i data-target="pwdCheck" class="bi bi-eye-fill position-absolute showPwd" style="top : 30%; right: 10px;cursor: pointer" onclick="showOrHidePwd(this)"></i>
                            </div>
                            <small id="err_pwdCheck" class="p-1 text-danger info"></small>
                        </div>
                        <label class="p-2" for="phone">PHONE</label>
                        <div class="form-group">
                            <input type="tel" class="form-control" data-name="연락처" name="phone" id="phone" placeholder="phone" onkeyup="replacePhone(this)">
                            <small id="err_phone" class="p-1 text-danger info"></small>
                        </div>
                        <label class="p-2" for="email">EMAIL</label>
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="email" class="form-control" data-name="이메일" name="email" id="email"  placeholder="email" aria-label="email" aria-describedby="emailCheck" onkeyup="resetAuth(this)">
                                <button class="btn btn-outline-secondary" type="button" id="emailCheck" onclick="checkEmail()">중복확인</button>
                                <input type="hidden" id="authEmail" name="authEmail" class="auth" value="false">
                            </div>
                            <small id="err_email" class="p-1 text-danger info"></small>
                        </div>
                        <div class="text-center"><button type="submit">submit</button></div>
                    </form>
                </div><!-- End Contact Form -->
            </div>
        </section>

    </main><!-- End #main -->
</div>
<script layout:fragment="script">
    // 비밀번호 확인
    function showOrHidePwd(element) {
        element.classList.toggle('bi-eye-fill');
        element.classList.toggle('bi-eye-slash-fill');
        let target = element.dataset.target;
        if($('#'+target).attr('type') == 'password') {
            $('#'+target).prop("type", "text");
        } else {
            $('#'+target).prop("type", "password");
        }
    }
    // Front 유효성 검사
    let checkTarget = ['memberId', 'memberName', 'pwd', 'pwdCheck', 'phone', 'email'];
    document.querySelector('#frmJoin').addEventListener('submit', checkForm);
    function checkForm() {
        event.preventDefault();
        for(let info of document.querySelectorAll('.info')) {
            $(info).text("");
        }
        // 공란 검사
        for (let element of checkTarget) {
            let target = $('input[name='+element+']');
            if (!nullCheck($(target))) {
                $('#err_'+element).text($(target).data('name') + "을/를 입력해주세요");
                $(target).focus();
                return false;
            }
        }
        // 정규식 검사
        if(!idRegCheck($('input[name=memberId]'))){
            $('#err_memberId').text("아이디는 영문 소문자와 숫자로 최소 6글자 이상, 20글자 이하로 작성하세요");
            $('input[name=memberId]').focus();
            return false;
        }
        if(!nameRegCheck($('input[name=memberName]'))){
            $('#err_memberName').text("이름은 한글로 최소 2글자 이상, 20글자 이하로 작성하세요.");
            $('input[name=memberName]').focus();
            return false;
        }
        if(!passwordRegCheck($('input[name=pwd]'))){
            $('#err_pwd').text("비밀번호는 영문 소/대문자 + 숫자 + 특수문자를 조합하여 8글자 이상, 20글자 이하로 입력해주세요. 가능한 특수문자 : !@#$%^*+=-");
            $('input[name=pwd]').focus();
            return false;
        }
        if(!phoneRegCheck($('input[name=phone]'))){
            $('#err_phone').text("'-' 없이 올바른 전화번호 형식을 사용해주세요. 예시: 01012345678");
            $('input[name=phone]').focus();
            return false;
        }
        if(!emailRegCheck($('input[name=email]'))){
            $('#err_email').text("올바른 이메일 형식을 사용해주세요. 예시: genius@genius.co.kr");
            $('input[name=email]').focus();
            return false;
        }
        // 중복 체크 및 일치 여부 검사
        if($('input[name=authId]').val() != 'true'){
            $('#err_member_id').text("아이디 중복을 확인해주세요");
            $('input[name=member_id]').focus();
            return false;
        }
        if(!passwordMatch($('input[name=pwd]'), $('input[name=pwdCheck]'))){
            $('#err_pwdCheck').text("비밀번호가 일치하지 않습니다.");
            $('input[name=pwdCheck]').focus();
            return false;
        }
        if($('input[name=authEmail]').val() != 'true'){
            $('#err_email').text("이메일 중복을 확인해주세요");
            $('input[name=email]').focus();
            return false;
        }
        if(confirm("제출하시겠습니까?")) {
            document.querySelector('#frmJoin').submit();
        }
    }

    function checkId() {
        let memberId = $('#memberId').val();
        $.ajax({
            url: "/login/checkId",
            method: 'post',
            dataType : 'text',
            data : {
                "memberId" : memberId
            },
            success: function (data) {
                let target = $('#err_memberId');
                $(target).text("");
                $(target).addClass("text-danger");
                $(target).removeClass("text-success");
                if(!nullCheck($('#memberId'))) {
                    $(target).text("아이디는 공백일 수 없습니다.");
                    $('#authId').val('false');
                } else if(!idRegCheck($('#memberId'))) {
                    $(target).text("아이디는 영문 소문자와 숫자로 최소 6글자 이상, 20글자 이하로 작성하세요");
                    $('#authId').val('false');
                } else if(data > 0) {
                    $(target).text("이미 사용중인 아이디 입니다.");
                    $('#authId').val('false');
                } else {
                    $(target).text("사용 가능한 아이디 입니다.");
                    $(target).removeClass("text-danger");
                    $(target).addClass("text-success");
                    $('#authId').val('true');
                }
            },
            error : function(xhr, status, error) {
                console.log("xhr! : " + xhr);
                console.log("status! : " + status);
                console.log("error! : " + error);
            }
        })
    }

    function checkEmail() {
        let email = $('#email').val();
        $.ajax({
            url: "/login/checkEmail",
            method: 'post',
            dataType : 'text',
            data : {
                "email" : email
            },
            success: function (data) {
                let target = $('#err_email');
                $(target).text("");
                $(target).addClass("text-danger");
                $(target).removeClass("text-success");
                if(!nullCheck($('#email'))) {
                    $(target).text("이메일은 공백일 수 없습니다.");
                    $('#authEmail').val('false');
                } else if(!emailRegCheck($('#email'))) {
                    $(target).text("올바른 이메일 형식을 사용해주세요. 예시: genius@genius.co.kr");
                    $('#authEmail').val('false');
                } else if(data > 0) {
                    $(target).text("이미 사용중인 이메일 입니다.");
                    $('#authEmail').val('false');
                } else {
                    $(target).text("사용 가능한 이메일 입니다.");
                    $(target).removeClass("text-danger");
                    $(target).addClass("text-success");
                    $('#authEmail').val('true');
                }
            },
            error : function(xhr, status, error) {
                console.log("xhr! : " + xhr);
                console.log("status! : " + status);
                console.log("error! : " + error);
            }
        })
    }

    function resetAuth(element) {
        let target = element.id;
        if(target == 'memberId') {
            $('#authId').val('false');
            $('#err_memberId').text("");
            $('#err_memberId').addClass("text-danger");
            $('#err_memberId').removeClass("text-success");
        } else {
            $('#authEmail').val('false');
            $('#err_email').text("");
            $('#err_email').addClass("text-danger");
            $('#err_email').removeClass("text-success");
        }
    }
</script>
</body>
</html>