<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/header.html}"
>
<head>
    <meta charset="UTF-8">
    <title>MyStudy</title>
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <section id="contact" class="contact mb-5">
            <div class="container" data-aos="fade-up">
                <div class="p-2 bg-white mt-3">
                    <table class="table border bg-white">
                        <colgroup>
                            <col span="4" class="w-25">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th class="text-center bg-primary text-white" scope="row">제목</th>
                            <td class="text-start" colspan="3">제목입니다.</td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white" scope="row">등록일</th>
                            <td class="text-center">2024-05-13</td>
                            <th class="text-center bg-primary text-white" scope="row">좋아요</th>
                            <td class="text-center"><i class="bi bi-heart-fill text-danger"></i> 100</td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white" scope="row">오늘의 학습 노출여부</th>
                            <td class="text-center">Y</td>
                            <th class="text-center bg-primary text-white" scope="row">오늘의 학습 노출기간</th>
                            <td class="text-center">2024-05-13 ~ 2024-05-13</td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white" scope="row">분야</th>
                            <td class="text-start" colspan="3">맛집, 식당</td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white" scope="row">해쉬태그</th>
                            <td class="text-start" colspan="3">
                                <span class="badge bg-primary-light">#태그1</span>
                                <span class="badge bg-primary-light">#태그2</span>
                                <span class="badge bg-primary-light">#태그3</span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white align-middle" scope="row">공유한 사람</th>
                            <td class="text-start" colspan="3">
                                <span class="d-block">장지현(2024-05-13 00:00:00) <span class="badge bg-primary-dark">x</span></span>
                                <span class="d-block">장지현(2024-05-13 00:00:00) <span class="badge bg-primary-dark">x</span></span>
                                <span class="d-block">장지현(2024-05-13 00:00:00) <span class="badge bg-primary-dark">x</span></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white align-middle" scope="row">썸네일</th>
                            <th class="text-center bg-primary text-white align-middle" scope="row" colspan="3">내용</th>
                        </tr>
                        <tr>
                            <td class="text-start border align-middle">
                                <img class="rounded" width="100%" src="/img/default.png">
                            </td>
                            <td class="text-start overflow-y-scroll" colspan="3" style="height: 300px">
                                내용입니다.
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="button" class="btn btn-primary" onclick="location.href = '/shared/list'">목록</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->
</div>
</body>
</html>