<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/header.html}"
>
<head>
    <meta charset="UTF-8">
    <title>MyStudy</title>
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <section id="contact" class="contact mb-5">
            <div class="container" data-aos="fade-up">
                <div class="p-2 bg-white mt-3">
                    <table class="table border bg-white">
                        <colgroup>
                            <col span="4" class="w-25">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th class="text-center bg-primary text-white align-middle" scope="row">제목</th>
                            <td class="text-start" colspan="3">
                                <input class="form-control" type="text" name="title" maxlength="20" required>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white align-middle" scope="row">오늘의 학습 노출여부</th>
                            <td class="text-start" colspan="3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="shareYN" id="shareN" value="N" checked>
                                    <label class="form-check-label" for="shareN">미노출</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="shareYN" id="shareY" value="Y">
                                    <label class="form-check-label" for="shareY">노출</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white align-middle" scope="row">오늘의 학습 노출기간</th>
                            <td class="text-center" colspan="3">
                                <div class="form-group d-flex align-items-center">
                                    <input type="date" class="form-control w-25" name="start-date" id="start-date">
                                    <span class="pe-3 ps-3"> ~ </span>
                                    <input type="date" class="form-control w-25" name="end-date" id="end-date">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white" scope="row">분야</th>
                            <td class="text-start" colspan="3">
                                <input class="form-control" type="text" name="category" maxlength="50" required>
                                <small class="p-1">,로 구분하여 최대 4개까지 작성 가능 / 하나의 키워드의 최대 길이는 10자 이내로 작성</small>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white" scope="row">해쉬태그</th>
                            <td class="text-start" colspan="3">
                                <input class="form-control" type="text" name="category" maxlength="50" required>
                                <small class="p-1">,로 구분하여 최대 4개까지 작성 가능 / 하나의 키워드의 최대 길이는 10자 이내로 작성</small>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white align-middle" scope="row">공유한 사람</th>
                            <td class="text-start" colspan="3">
                                <span class="d-block">장지현(2024-05-13 00:00:00) <span class="badge bg-primary-dark">x</span></span>
                                <span class="d-block">장지현(2024-05-13 00:00:00) <span class="badge bg-primary-dark">x</span></span>
                                <span class="d-block">장지현(2024-05-13 00:00:00) <span class="badge bg-primary-dark">x</span></span>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center bg-primary text-white align-middle" scope="row">썸네일</th>
                            <th class="text-center bg-primary text-white align-middle" scope="row" colspan="3">내용</th>
                        </tr>
                        <tr>
                            <td class="text-start border align-middle">
                                <img class="rounded" width="100%" src="/img/default.png">
                                <div class="mt-3">
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                            </td>
                            <td class="text-start" colspan="3">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"></textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="button" class="btn btn-primary" onclick="location.href = '/mystudy/list'">목록</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary">등록</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
</div>
</body>
</html>