<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/header.html}"
>
<head>
    <meta charset="UTF-8">
    <title>MyStudy</title>
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <section id="contact" class="contact mb-5">
            <div class="container" data-aos="fade-up">
                <div class="p-2 bg-white mt-3">
                    <form id="frmPost" action="/mystudy/modify" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="idx" th:value="${studyDTO.idx}">
                        <table class="table border bg-white">
                            <colgroup>
                                <col span="4" class="w-25">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">제목</th>
                                <td class="text-start" colspan="3">
                                    <input data-name="제목" class="form-control" type="text" name="title" id="title" maxlength="100" th:value="${studyDTO.title}">
                                    <small id="err_title" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">오늘의 학습 노출여부</th>
                                <td class="text-start" colspan="3">
                                    <div class="form-check form-check-inline">
                                        <input data-name="오늘의 학습 노출여부" class="form-check-input" type="radio" name="displayYn" id="shareN" value="N" onchange="changeDisplay(this)" th:checked="${studyDTO.displayYn.toString().equals('N')}">
                                        <label class="form-check-label" for="shareN">미노출</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input data-name="오늘의 학습 노출여부" class="form-check-input" type="radio" name="displayYn" id="shareY" value="Y" onchange="changeDisplay(this)" th:checked="${studyDTO.displayYn.toString().equals('Y')}">
                                        <label class="form-check-label" for="shareY">노출</label>
                                    </div>
                                    <small id="err_displayYn" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">오늘의 학습 노출기간</th>
                                <td class="text-start" colspan="3">
                                    <div class="form-group d-flex align-items-center">
                                        <input data-name="오늘의 학습 노출 시작일" type="date" class="form-control w-25 displayDate" name="displayStartDate" id="displayStartDate" th:disabled="${studyDTO.displayYn.toString().equals('N')}" th:value="${studyDTO.displayStartDate}">
                                        <span class="pe-3 ps-3"> ~ </span>
                                        <input data-name="오늘의 학습 노출 종료일" type="date" class="form-control w-25 displayDate" name="displayEndDate" id="displayEndDate" th:disabled="${studyDTO.displayYn.toString().equals('N')}" th:value="${studyDTO.displayEndDate}">
                                    </div>
                                    <small id="err_displayDate" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">분야</th>
                                <td class="text-start" colspan="3">
                                    <div>
                                        <button type="button" class="btn btn-dark mb-1" data-type="category" onclick="addInput(this)">추가</button>
                                        <div class="input-group mb-1 w-25" th:each="category : ${studyDTO.categories}">
                                            <input data-name="분야" type="text" name="category" maxlength="10" class="form-control" th:value="${category}">
                                            <button class="btn btn-outline-secondary" type="button" onclick="deleteThis(this)">X</button>
                                        </div>
                                    </div>
                                    <small class="p-1">* 최대 4개까지 작성 가능 / 하나의 키워드의 최대 길이는 10자 이내로 작성</small><br>
                                    <small id="err_category" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">해쉬태그</th>
                                <td class="text-start" colspan="3">
                                    <div>
                                        <button type="button" class="btn btn-dark mb-1" data-type="tags" onclick="addInput(this)">추가</button>
                                        <div class="input-group mb-1 w-25" th:each="tags : ${studyDTO.tagsArr}">
                                            <input data-name="해쉬태그" type="text" name="tags" maxlength="10" class="form-control" th:value="${tags}">
                                            <button class="btn btn-outline-secondary" type="button" onclick="deleteThis(this)">X</button>
                                        </div>
                                    </div>
                                    <small class="p-1">* 최대 4개까지 작성 가능 / 하나의 키워드의 최대 길이는 10자 이내로 작성</small><br>
                                    <small id="err_tags" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">공유 받은 사람</th>
                                <td class="text-start" colspan="3">
                                    <div class="mb-2">
                                        <div class="d-flex gap-2">
                                            <div class="input-group mb-1 w-25">
                                                <input type="text" id="memberId" maxlength="50" class="form-control">
                                                <button class="btn btn-outline-secondary" type="button" onclick="addMember()">추가</button>
                                            </div>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal" onclick="getMemberList()">
                                                회원조회
                                            </button>
                                        </div>
                                        <small class="p-1">* 아이디로 추가해주세요</small>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-1">
                                            <p class="p-0 m-0 text-center">추가한 리스트</p>
                                        </div>
                                        <div class="card-body d-flex flex-column gap-1" id="memberList">
                                            <div th:each="dto : ${sharedDTOList}">
                                                <span class="d-block"><span th:text="${dto.memberName}+'&nbsp;'">지현장 </span><button class="btn badge bg-primary-dark" type="button" onclick="deleteThisToShare(this)">X</button></span>
                                                <input type="hidden" name="sharedMemberId" th:value="${dto.memberId}">
                                                <input type="hidden" name="sharedMemberName" th:value="${dto.memberName}">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">썸네일</th>
                                <th class="text-center bg-primary text-white align-middle" scope="row" colspan="3">내용</th>
                            </tr>
                            <tr>
                                <td class="text-start border align-middle">
                                    <img id="thumbnail_img" class="rounded" width="100%" th:src="${studyDTO.thumbnailPath}+${studyDTO.thumbnail}">
                                    <div class="mt-3">
                                        <input class="form-control" type="file" name="file" id="formFile" onchange="changeProfileImg(event)">
                                    </div>
                                </td>
                                <td class="text-start" colspan="3">
                                    <textarea data-name="내용" name="content" class="form-control" id="content" rows="12" maxlength="1000" th:text="${studyDTO.content}"></textarea>
                                    <small id="err_content" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between">
                            <div>
                                <button type="button" class="btn btn-primary" onclick="listLink()">목록</button>
                                <button type="button" class="btn btn-primary" th:data-idx="${studyDTO.idx}" onclick="viewLink(this)">취소</button>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">등록</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalLabel">회원조회</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex flex-column gap-3">
                        <div>
                            <label for="idOrName" class="form-label">아이디/이름</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="idOrName" name="searchMember" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="AJAXMemberList()">조회</button>
                            </div>
                        </div>
                        <div class="bg-light border border-primary rounded p-3">
                            <p><strong>선택된 리스트</strong></p>
                            <div id="selected-list" class="d-flex gap-3">
                                리스트가 없습니다.
                            </div>
                        </div>
                        <div class="overflow-y-scroll" style="height: 300px">
                            <table class="table">
                                <colgroup>
                                    <col style="width: 10%">
                                    <col style="width: 35%">
                                    <col style="width: 35%">
                                    <col style="width: 20%">
                                </colgroup>
                                <thead class="table-secondary">
                                <tr>
                                    <th class="text-center bg-primary text-white" scope="col">No</th>
                                    <th class="text-center bg-primary text-white" scope="col">ID</th>
                                    <th class="text-center bg-primary text-white" scope="col">이름</th>
                                    <th class="text-center bg-primary text-white" scope="col">선택</th>
                                </tr>
                                </thead>
                                <tbody id="modal-tBody">
                                <tr>
                                    <td class="text-center">3</td>
                                    <td class="text-center">testID3</td>
                                    <td class="text-center">테스트계정3</td>
                                    <td class="text-center">
                                        <input class="form-check-input" type="checkbox" data-name="테스트계정3" data-id="testID3" id="id-testID3" onchange="addOrRemove(this)">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td class="text-center">testID2</td>
                                    <td class="text-center">테스트계정2</td>
                                    <td class="text-center">
                                        <input class="form-check-input" type="checkbox" data-name="테스트계정2" data-id="testID2" id="id-testID2" onchange="addOrRemove(this)">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">testID1</td>
                                    <td class="text-center">테스트계정1</td>
                                    <td class="text-center">
                                        <input class="form-check-input" type="checkbox" data-name="테스트계정1" data-id="testID1" id="id-testID1" onchange="addOrRemove(this)">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" onclick="saveThisMem()">추가</button>
                    </div>
                </div>
            </div>
        </div>
    </main><!-- End #main -->
</div>
<script src="/js/studyRegistAndModify.js" layout:fragment="script2"></script>
<script layout:fragment="script" th:inline="javascript">
    function listLink() {
        let type = [[${param.type}]];
        if (type == null) {
            location.href = "/mystudy/list";
        } else if(type = 'fromMe') {
            location.href = "/shared/list?type=fromMe";
        }
    }

    function viewLink(element) {
        let type = [[${param.type}]];
        let idx = element.dataset.idx;
        if (type == null) {
            location.href = "/mystudy/view?idx="+idx;
        } else if(type = 'fromMe') {
            location.href = "/shared/view?type=fromMe&idx="+idx;
        }
    }

</script>
</body>
</html>