<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/header.html}"
>
<head>
    <meta charset="UTF-8">
    <title>MyStudy</title>
</head>
<body>
<div layout:fragment="content">
    <main id="main">
        <section id="contact" class="contact mb-5">
            <div class="container" data-aos="fade-up">
                <div class="p-2 bg-white mt-3">
                    <form id="frmPost" action="/mystudy/regist" method="post" enctype="multipart/form-data">
                        <table class="table border bg-white">
                            <colgroup>
                                <col span="4" class="w-25">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">제목</th>
                                <td class="text-start" colspan="3">
                                    <input data-name="제목" class="form-control" type="text" name="title" maxlength="20">
                                    <small id="err_title" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">오늘의 학습 노출여부</th>
                                <td class="text-start" colspan="3">
                                    <div class="form-check form-check-inline">
                                        <input data-name="오늘의 학습 노출여부" class="form-check-input" type="radio" name="displayYn" id="shareN" value="N" checked onchange="changeDisplay(this)">
                                        <label class="form-check-label" for="shareN">미노출</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input data-name="오늘의 학습 노출여부"  class="form-check-input" type="radio" name="displayYn" id="shareY" value="Y" onchange="changeDisplay(this)">
                                        <label class="form-check-label" for="shareY">노출</label>
                                    </div>
                                    <small id="err_displayYn" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">오늘의 학습 노출기간</th>
                                <td class="text-start" colspan="3">
                                    <div class="form-group d-flex align-items-center">
                                        <input data-name="오늘의 학습 노출 시작일"  type="date" class="form-control w-25 displayDate" name="displayStartDate" id="displayStartDate" disabled>
                                        <span class="pe-3 ps-3"> ~ </span>
                                        <input data-name="오늘의 학습 노출 종료일"  type="date" class="form-control w-25 displayDate" name="displayEndDate" id="displayEndDate" disabled>
                                    </div>
                                    <small id="err_displayDate" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">분야</th>
                                <td class="text-start" colspan="3">
                                    <div>
                                        <button type="button" class="btn btn-dark mb-1" data-type="category" onclick="addInput(this)">추가</button>
                                        <div class="input-group mb-1 w-25">
                                            <input data-name="분야"  type="text" name="category" maxlength="10" class="form-control" >
                                            <button class="btn btn-outline-secondary" type="button" onclick="deleteThis(this)">X</button>
                                        </div>
                                    </div>
                                    <small class="p-1">* 최대 4개까지 작성 가능 / 하나의 키워드의 최대 길이는 10자 이내로 작성</small><br>
                                    <small id="err_category" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">해쉬태그</th>
                                <td class="text-start" colspan="3">
                                    <div>
                                        <button type="button" class="btn btn-dark mb-1" data-type="tags" onclick="addInput(this)">추가</button>
                                        <div class="input-group mb-1 w-25">
                                            <input data-name="해쉬태그" type="text" name="tags" maxlength="10" class="form-control" >
                                            <button class="btn btn-outline-secondary" type="button" onclick="deleteThis(this)">X</button>
                                        </div>
                                    </div>
                                    <small class="p-1">* 최대 4개까지 작성 가능 / 하나의 키워드의 최대 길이는 10자 이내로 작성</small><br>
                                    <small id="err_tags" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">공유 받은 사람</th>
                                <td class="text-start" colspan="3">
                                    <div class="mb-2">
                                        <div class="input-group mb-1 w-25">
                                            <input type="text" id="memberId" maxlength="50" class="form-control">
                                            <button class="btn btn-outline-secondary" type="button" onclick="addMember()">추가</button>
                                        </div>
                                        <small class="p-1">* 아이디로 추가해주세요</small>
                                    </div>
                                    <div class="card">
                                        <div class="card-header p-1">
                                            <p class="p-0 m-0 text-center">추가한 리스트</p>
                                        </div>
                                        <div class="card-body d-flex flex-column gap-1" id="memberList">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="text-center bg-primary text-white align-middle" scope="row">썸네일</th>
                                <th class="text-center bg-primary text-white align-middle" scope="row" colspan="3">내용</th>
                            </tr>
                            <tr>
                                <td class="text-start border align-middle">
                                    <img id="thumbnail_img" class="rounded" width="100%" src="/img/default.png">
                                    <div class="mt-3">
                                        <input class="form-control" type="file" name="file" id="formFile" onchange="changeProfileImg(event)">
                                    </div>
                                </td>
                                <td class="text-start" colspan="3">
                                    <textarea data-name="내용" name="content" class="form-control" id="content" rows="12"></textarea>
                                    <small id="err_content" class="p-1 text-danger info"></small>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-between">
                            <div>
                                <button type="button" class="btn btn-primary" onclick="location.href = '/mystudy/list'">목록</button>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">등록</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
</div>
<script layout:fragment="script">
    function addInput(element) {
        let type = element.dataset.type;
        let divEl = document.createElement('div');
        let inputEl = document.createElement('input');
        let buttonEl = document.createElement('button');
        divEl.classList.add('input-group', 'mb-1', 'w-25');
        inputEl.classList.add('form-control');
        inputEl.type = 'text';
        inputEl.name = type;
        inputEl.maxLength = 10;
        buttonEl.classList.add('btn', 'btn-outline-secondary');
        buttonEl.onclick = ()=> (deleteThis(buttonEl));
        buttonEl.type = 'button';
        buttonEl.innerText = 'X';
        divEl.append(inputEl);
        divEl.append(buttonEl);
        if(element.parentElement.querySelectorAll('div.input-group').length <4) {
            element.parentElement.append(divEl);
        } else {
            alert("최대 4개까지 추가할 수 있습니다.")
        }
    }
    function deleteThis(element) {
        if(element.parentElement.parentElement.querySelectorAll('div.input-group').length > 1) {
            element.parentElement.remove();
        } else {
            alert("최소 1개의 입력칸이 필요합니다.")
        }
    }
    function deleteThisToShare(element) {
        element.parentElement.parentElement.remove();
    }
    function changeDisplay(element) {
        let displayDates = document.querySelectorAll('.displayDate');
        if(element.value == 'N') {
            for (let displayDate of displayDates) {
                displayDate.value = "";
                displayDate.setAttribute('disabled','disabled');
            }
        } else {
            for (let displayDate of displayDates) {
                displayDate.removeAttribute('disabled');
            }
        }
    }

    function addMemberList(data) {
        let memberList = document.querySelectorAll('input[name=sharedMemberId]');
        for(let mem of memberList) {
            if(mem.value == data.memberId) {
                alert("이미 추가된 멤버 입니다.");
                return;
            }
        }
        let divEl = document.createElement('div');
        let spanEl = document.createElement('span');
        let spanEl2 = document.createElement('span');
        let buttonEl = document.createElement('button');
        let inputEl = document.createElement('input');
        let inputEl2 = document.createElement('input');
        spanEl.classList.add('d-block');
        spanEl2.innerText = data.memberName;
        buttonEl.classList.add('btn', 'badge', 'bg-primary-dark');
        buttonEl.onclick = ()=> (deleteThisToShare(buttonEl));
        buttonEl.type = 'button';
        buttonEl.innerText = 'X';
        inputEl.type = 'hidden';
        inputEl.name = 'sharedMemberId';
        inputEl.value = data.memberId;
        inputEl2.type = 'hidden';
        inputEl2.name = 'sharedMemberName';
        inputEl2.value = data.memberName;
        spanEl.append(spanEl2);
        spanEl.append(buttonEl);
        divEl.append(spanEl);
        divEl.append(inputEl);
        divEl.append(inputEl2);
        document.getElementById('memberList').append(divEl);
    }

    function addMember() {
        let memberId = document.getElementById('memberId');
        let memberIdVal = document.getElementById('memberId').value;
        if(memberIdVal.length > 0) {
            $.ajax({
                url: "/mystudy/selectMember",
                method: 'post',
                dataType : 'json',
                data : {
                    "memberId" : memberIdVal
                },
                success: function (data) {
                    console.log(data);
                    if(data.message == '조회 성공') {
                        addMemberList(data);
                        memberId.value = '';
                    } else {
                        memberId.value = '';
                        alert(data.message);
                    }
                },
                error : function(xhr, status, error) {
                    console.log("xhr! : " + xhr);
                    console.log("status! : " + status);
                    console.log("error! : " + error);
                }
            })
        } else {
            alert("아이디를 입력해주세요");
        }
    }

    // 썸네일 이미지 변경
    function changeProfileImg(e) {
        let files = e.target.files;
        let reader = new FileReader();
        reader.onload = (e)=>{
            $('#thumbnail_img').attr('src', e.target.result);
        }
        reader.readAsDataURL(files[0]);
    }

    // Front 유효성검사
    let checkTarget = ['title', 'displayYn', 'displayStartDate', 'displayEndDate', 'category', 'tags', 'content'];
    document.querySelector('#frmPost').addEventListener('submit', checkForm);
    function checkForm() {
        event.preventDefault();
        for (let info of document.querySelectorAll('.info')) {
            $(info).text("");
        }
        // 공란 검사
        for (let element of checkTarget) {
            let target = $('input[name=' + element + ']');
            if (element == 'displayYn') {
                if(!$('input#shareN').is(":checked") && !$('input#shareY').is(":checked")) {
                    $('#err_'+element).text($(target).data('name') + "을 선택해주세요");
                    $(target).focus();
                    return false;
                }
            } else if(element == 'displayStartDate' || element == 'displayEndDate') {
                if($('input#shareY').is(":checked")) {
                    if (!nullCheck2($(target))) {
                        $('#err_displayDate').text($(target).data('name') + "을/를 입력해주세요");
                        $(target).focus();
                        return false;
                    }
                }
            } else if(element == 'category' || element == 'tags') {
                if (!nullCheck2Arr($(target))) {
                    $('#err_' + element).text($(target).data('name') + "을/를 최소 1건 이상 입력해주시고, 추가한 모든 칸을 입력해주세요");
                    $(target).focus();
                    return false;
                }
            } else if(element == 'content') {
                if (!nullCheck2($('#content'))) {
                    $('#err_' + element).text($('#content').data('name') + "을/를 입력해주세요");
                    $('#content').focus();
                    return false;
                }
            } else if (!nullCheck2($(target))) {
                $('#err_' + element).text($(target).data('name') + "을/를 입력해주세요");
                $(target).focus();
                return false;
            }
        }
        // 날짜 체크
        if($('input#shareY').is(":checked")) {
            if(!dateCheck2($('#displayStartDate'), $('#displayEndDate'))) {
                $('#err_displayDate').text("시작 날짜는 종료날짜 보다 미래일 수 없습니다.");
                $('#displayStartDate').focus();
                return false;
            }
        }
        if(confirm("등록하시겠습니까?")) {
            document.getElementById('frmPost').submit();
        };
    }
</script>
</body>
</html>